main {
    padding: 20px;
    margin: 20px;
   
}

body{
    background-color: #EEEBD3;
}


h1 {
    color: #255957;
    font-family: "Trebuchet MS", "Segoe UI", Arial, sans-serif;
    text-align: center;
}


h2, h3 {
    color: #255957;
    font-family: Verdana, Geneva, sans-serif;
}


p {
    color:#437C90; 
    font-family: Georgia, "Times New Roman", serif;
}


ul li{
    color: #437C90;
    font-family: Georgia, "Times New Roman", serif;
}


div {
    width: 400px;
    height: 200px;
    background-color: #F7C548; 
    border: 4px solid #255957;
    padding: 40px;
    margin: 60px;
    color: #437C90;
    font-family: Georgia, "Times New Roman", serif;
    
}   